.primary-color-bg {
  background-color: #202935;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.primary-color-bg:hover {
  background-color: #ffffff;
}
